p{
	text-align: center;
}
h3{
	text-align: center;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}

.Name{
    color:#ff7700;
}
.ots{
    color:#FFFFFF;
}
.Name1{
    color:#ff4000;
    text-decoration: blink;
    font-size:46px;
}
.Name3{
	color: orange;
}